//пример INFO для скина doomer
1 //видно ли у скина оружие
//Дальше количества кадров в анимациях:
1 //stand
4 //walk
7 //death
1 //attack
1 //seeup
1 //seedown
1 //attackup
1 //attackdown
1 //pain
//В файл ничего кроме этих чисел не вводить. Комментарии удали, если будешь использовать.